html {
       background-color: #44f;
}
a, p, h1, h2 {
       font-family:"Trebuchet", Helvetica, sans-serif;
}
            a:link {
                color: #fff;
                background-color: transparent;
                text-decoration: none;
            }
            a:visited {
                color: #fff;
                background-color: transparent;
                text-decoration: none;
            }
            a:hover {
                color: #aaa;
                background-color: transparent;
                text-decoration: none;
            }
            a:active {
                color: #999;
                background-color: transparent;
                text-decoration: none;
            }
