html {
       background-color: #05a;
}
a, p {
       font-family:"Trebuchet", Helvetica, sans-serif;
}
a:link {
       color: #fff;
       background-color: transparent;
       text-decoration: underline;
}
a:visited {
       color: #FFCC99;
       background-color: transparent;
       text-decoration: underline;
}
a:hover {
       color: #FF9966;
       background-color: transparent;
       text-decoration: underline;
}
a:active {
       color: #FFCC99;
       background-color: transparent;
       text-decoration: underline;
}
