html {
        border-style: solid;
        border-color: #fff; 
        background-color: #44f;
       }
      button {
        border: none;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
      }
      a, p {
        font-family:"Trebuchet", Helvetica, sans-serif;
      }
      p {
        color: black;
      }
            a:link {
                color: #fff;
                background-color: transparent;
                text-decoration: none;
            }
            a:visited {
                color: #fff;
                background-color: transparent;
                text-decoration: none;
            }
            a:hover {
                color: #aaa;
                background-color: transparent;
                text-decoration: none;
            }
            a:active {
                color: #999;
                background-color: transparent;
                text-decoration: none;
            }
            button:hover {
                background-color: #025;
            }
